html {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15% auto;
  padding: 10%;
  font-family: sans-serif;
  border: solid 5px black;
  width: 250px;
  height: 250px;
  overflow-y: hidden;
  justify-content: center;
  //background-color: #f49542;
}

body {
  background-color: white;
}
