@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

.Main {
  background-color: black;
  width: 250px;
  height: 250px;
  background-size: cover;
  margin: auto;
}

.Main span {
  font-family: 'Amatic SC';
  color: lightblue;
  font-size: 5em;
}
